* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 10px;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    background-color: #1f1f1f;;
    color: whitesmoke;
    padding: 1rem;
}

red {
    color: darkred;
}

i {
    color: gray;
}

/* Hover text */
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-weight: lighter;
    font-size: .9rem;
    border-radius: 6px;
    

    position: absolute;
    z-index: 1;
  }

.tooltip:hover .tooltiptext {
    visibility: visible;
  }

